
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="pandoc">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Faisal Qureshi">
    <meta name="keywords" content="faisal qureshi, cs, vclab, uoit, professor, computer vision, camera networks, teaching">

    {{{header_html}}}

  </head>

  <body>
    <div class="container">
    <div class="jumbotron">
        <h1>Webify</h1> 
        <p>A python utility for creating static websites and PDF documents from markdown and yaml files.</p> 

        <div>
          <div><br/><b>Faisal Qureshi<br/>
             <a href="https://faisalqureshi.github.io/">https://faisalqureshi.github.io/</a>
           </div>
        </div>
      </div>

      {{{nav_html}}}

    <div class="row" style="padding-left: 30px; padding-right: 30px">
        {{{body}}}
    </div>

    <hr>
    {{{footer_html}}}    


    </div>

  </body>
</html>
