<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <div class="container">
        <h1>{{ __blog_title__ }}</h1>
        
        <h2>Posts that are currently available</h2>

        <ul>
            {% for post in __md__ %}
                {% if (post.is_available and post.is_ignored == False  and __me__ != post.filename and post.ext != ".md" ) %}
                <li>
                  <ul>
                  <li><a href="{{ post.filename }}">{{ post.output_filepath }}</a></li>
                  {% if (post.data.title) %}
                  <li>{{ post.data.title }}</li>
                  {% endif %}
                  </ul>
                </li>
                {% endif %}
            {% endfor %}
        </ul>

        <h2>All files, including those in child folders</h2>

        <ul>
          {% for post in __files__ %}
          <li>
            <a href="{{ post.filename }}">{{ post.filename }}</a>
            -
            {{ post.ext }}
            -
            {% if (post.is_available) %}
            Available
            {% else %}
            Not available
            {% endif %}
            -
            {% if (post.is_ignored) %}
            Ignored
            {% else %}
            Not ignored
            {% endif %}
            - 
            {{ post.ext }}
            -
            {{ post.file_type }}
            - data:
            {% if post.data %}
            yes
            {% else %}
            no
            {% endif %}
          </li>
          {% endfor %}
        </ul>        
        
    </div>
  </body>
</html>
