<div class="row">
{{#files}}
<div class="col-lg-4"  style="padding: 15px; margin: 0px;">
<figure class="figure"><a href={{file}}><img src="{{file}}" class="figure-img img-fluid rounded img-responsive"></a></figure>
</div>
{{/files}}
</div>