<div class="row">
{{#files}}
<div class="col-lg-6"  style="padding: 15px; margin=0px;">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="{{file}}">
</iframe>
</div>
</div>
{{/files}}
</div>